html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Lato', sans-serif;
}

a {
    color: inherit; /* Use the current text color */
    text-decoration: none; /* Remove underline */
}

a:hover, a:focus {
    color: #ff9f00; /* Prevent color change on hover */
    text-decoration: none; /* Keep no underline on hover */
}

.ecommerce-logo{
    width: 163px;
    height: 56px;
}

.nav-link{
    font-weight: 500;
    font-size: 17px;
}

.navbar{
    position: fixed;  
    top: 0;
    z-index: 1000;
    width: 100%; 
}

.carousel-item{
    object-fit: cover;
    height: 100vh;
}

#card {
    display: flex;
    flex-wrap: wrap;
}

.services-section-heading{
    color: #183b56;
    font-size: 36px;
    font-weight: 700;
}

.services-section-desc{
    color: #616c7c;
    font-size: 20px;
}

.service-card-img{
    width: 120px;
    height: auto;
}

.service-card-head{
    color: #1f2933;
    font-size: 26px;
    font-weight: 500;
    padding-top: 8px;
}

.service-card-desc{
    color: #7b8794;
    font-size: 18px;
}

.products-section-heading{
    color: #183b56;
    font-size: 32px;
    font-weight: 700;
}

.products-section-card{
    height: 328px;
    padding: 20PX;
    border-radius: 16px;
}

.headphone-bg-container{
    background-image: url("./images/ecommerce-products-headphones-bg.png");
    background-size: cover;
}

.laptop-bg-container{
    background-image: url("./images/ecommerce-products-laptops-bg.png");
    background-size: cover;
}

.products-card-head{
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
}

.products-card-desc{
    color: #ffffff;
    font-size: 16px;
}

.products-card-button{
    color: #ff9f00;
    background-color: #ffffff;
    font-size: 16px;
    width: 134px;
    height: 48px;
    border-width: 0;
    border-radius: 100px;
}

.product-card-modal-title{
    color: #323f4b;
    font-weight: 500;
    font-size: 24px;
}

.products-card-modal-desc{
    font-size: 16px;
    color: #323f4b;
}

.products-card-modal-list{
    list-style-type: none;
    padding-left: 0;
}

.products-card-modal-list-item{
    font-size: 16px;
    color: #323f4b;
}

.products-card-modal-list-item-category{
    font-weight: bold;
}

.products-section-link{
    color: #ff9f00;
    font-size: 18px;
    font-weight: 700;
}

.explore-section{
    background-color: #f5f7fa;
}

.explore-section-heading{
    color: #183b56;
    font-size: 36px;
    font-weight: bold;
}

.explore-card{
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.explore-card-img-container{
    padding: 10px;
}

.explore-card-img{
    width: 100%;
    border-radius: 20px;
}

.explore-card-title{
    color: #183b56;
    font-weight: bold;
    font-size: 24px;
}

.explore-card-img-title{
    color: #1f2933;
    font-size: 16px;
    margin-top: 10px;
}

.explore-card-link{
    color: #ff9f00;
    font-weight: bold;
    font-size: 16px;
}


